@import url("https://fonts.googleapis.com/css?family=Lato|Lora");
@import "./Main.scss";

body {
  background: $dark;
  font-family: $sans;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

.item {
  position: relative;
}

.cup {
  background: $dark;
  border: 2px solid $white;
  position: absolute;
}

.handle {
  background: transparent;
  border: 2px solid $white;
  border-radius: 60% 30%;
  height: 20px;
  left: 90%;
  position: absolute;
  top: 10%;
  width: 15px;
  z-index: -1;
}

.cup-tall {
  width: 55px;
  height: 40px;
  border-radius: 0 0 5rem 5rem;
  margin: 30px;
}

.cup-grande {
  width: 70px;
  height: 50px;
  border-radius: 0 0 5rem 5rem;
  margin: 23px;
}

.cup-venti {
  width: 60px;
  height: 70px;
  border-radius: 10% 10% 50% 50%;
}

.espresso {
  background: linear-gradient(to bottom, $dark 60%, $espresso 60%);
}
.doppio {
  background: linear-gradient(to bottom, $dark 35%, $espresso 35%);
}
.lungo {
  background: linear-gradient(
    to bottom,
    $dark 20%,
    $water 20%,
    $water 60%,
    $espresso 60%
  );
}
.ristretto {
  background: linear-gradient(to bottom, $dark 70%, $espresso 70%);
}
.macchiato {
  background: linear-gradient(
    to bottom,
    $dark 20%,
    $milkfoam 20%,
    $milkfoam 60%,
    $espresso 60%
  );
}
.corretto {
  background: linear-gradient(
    to bottom,
    $dark 30%,
    $liquor 30%,
    $liquor 60%,
    $espresso 60%
  );
}
.conpanna {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $whippedCream 5%,
    $whippedCream 60%,
    $espresso 60%
  );
}
.romano {
  background: linear-gradient(to bottom, $dark 50%, $espresso 50%);
}

.cappuccino {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $steamedMilk 25%,
    $steamedMilk 50%,
    $espresso 50%
  );
}
.americano {
  background: linear-gradient(
    to bottom,
    $dark 10%,
    $water 10%,
    $water 65%,
    $espresso 65%
  );
}
.cafelatte {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $steamedMilk 25%,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.flatwhite {
  background: linear-gradient(
    to bottom,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.marocchino {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $chocolate 25%,
    $chocolate 65%,
    $espresso 65%
  );
}
.mocha {
  background: linear-gradient(
    to bottom,
    $whippedCream 20%,
    $steamedMilk 20%,
    $steamedMilk 40%,
    $chocolate 40%,
    $chocolate 65%,
    $espresso 65%
  );
}
.bicerin {
  background: linear-gradient(
    to bottom,
    $whippedCream 20%,
    $whiteChocolate 20%,
    $whiteChocolate 40%,
    $chocolate 40%,
    $chocolate 65%,
    $espresso 65%
  );
}
.breve {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $steamedMilk 35%,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.rafcoffee {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $vanillaSugar 35%,
    $vanillaSugar 65%,
    $espresso 65%
  );
}
.meadraf {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $honey 35%,
    $honey 65%,
    $espresso 65%
  );
}
.viennacoffee {
  background: linear-gradient(
    to bottom,
    $whippedCream 45%,
    $espresso 45%
  );
}
.chocolatemilk {
  background: linear-gradient(
    to bottom,
    $steamedMilk 45%,
    $espresso 45%
  );
}

.info {
  margin-left: 150px;
  margin-top: 30px;
}

h1 {
  color: $white;
  font-size: 1em;
  letter-spacing: 3px;
}

p {
  color: $white;
  font-family: $serif;
  text-transform: none;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  margin-top: -5px;
}
