@import url("https://fonts.googleapis.com/css?family=Lato|Lora");
@import "./Main.scss";

.espresso {
  background: linear-gradient(to bottom, $dark 60%, $espresso 60%);
}
.doppio {
  background: linear-gradient(to bottom, $dark 35%, $espresso 35%);
}
.lungo {
  background: linear-gradient(
    to bottom,
    $dark 20%,
    $water 20%,
    $water 60%,
    $espresso 60%
  );
}
.ristretto {
  background: linear-gradient(to bottom, $dark 70%, $espresso 70%);
}
.macchiato {
  background: linear-gradient(
    to bottom,
    $dark 20%,
    $milkfoam 20%,
    $milkfoam 60%,
    $espresso 60%
  );
}
.corretto {
  background: linear-gradient(
    to bottom,
    $dark 30%,
    $liquor 30%,
    $liquor 60%,
    $espresso 60%
  );
}
.conpanna {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $whippedCream 5%,
    $whippedCream 60%,
    $espresso 60%
  );
}
.romano {
  background: linear-gradient(to bottom, $dark 50%, $espresso 50%);
}

.cappuccino {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $steamedMilk 25%,
    $steamedMilk 50%,
    $espresso 50%
  );
}
.americano {
  background: linear-gradient(
    to bottom,
    $dark 10%,
    $water 10%,
    $water 65%,
    $espresso 65%
  );
}
.cafelatte {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $steamedMilk 25%,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.flatwhite {
  background: linear-gradient(
    to bottom,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.marocchino {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $chocolate 25%,
    $chocolate 65%,
    $espresso 65%
  );
}
.mocha {
  background: linear-gradient(
    to bottom,
    $whippedCream 20%,
    $steamedMilk 20%,
    $steamedMilk 40%,
    $chocolate 40%,
    $chocolate 65%,
    $espresso 65%
  );
}
.bicerin {
  background: linear-gradient(
    to bottom,
    $whippedCream 20%,
    $whiteChocolate 20%,
    $whiteChocolate 40%,
    $chocolate 40%,
    $chocolate 65%,
    $espresso 65%
  );
}
.breve {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $steamedMilk 35%,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.rafcoffee {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $vanillaSugar 35%,
    $vanillaSugar 65%,
    $espresso 65%
  );
}
.meadraf {
  background: linear-gradient(
    to bottom,
    $dark 5%,
    $milkfoam 5%,
    $milkfoam 35%,
    $honey 35%,
    $honey 65%,
    $espresso 65%
  );
}
.viennacoffee {
  background: linear-gradient(
    to bottom,
    $whippedCream 45%,
    $espresso 45%
  );
}
.chocolatemilk {
  background: linear-gradient(
    to bottom,
    $steamedMilk 45%,
    $espresso 45%
  );
}

.latte-macchiato {
  background: linear-gradient(
    to bottom,
    $milkfoam 25%,
    $espresso 25%,
    $espresso 65%,
    $steamedMilk 65%
  );
}
.glace {
  background: linear-gradient(
    to bottom,
    $steamedMilk 65%,
    $espresso 65%
  );
}
.freddo {
  background: linear-gradient(
    to bottom,
    $water 40%,
    $liquor 40%,
    $liquor 65%,
    $espresso 65%
  );
}
.irish-coffee {
  background: linear-gradient(
    to bottom,
    $whippedCream 40%,
    $liquor 40%,
    $liquor 65%,
    $espresso 65%
  );
}
.frappe {
  background: linear-gradient(
    to bottom,
    $steamedMilk 35%,
    $milkfoam 35%,
    $milkfoam 70%,
    $espresso 70%
  );
}
.cappuccino-freddo {
  background: linear-gradient(
    to bottom,
    $whippedCream 25%,
    $steamedMilk 25%,
    $steamedMilk 45%,
    $water 45%,
    $water 65%,
    $espresso 65%
  );
}
.caramel-frappe {
  background: linear-gradient(
    to bottom,
    $whippedCream 25%,
    $steamedMilk 25%,
    $steamedMilk 45%,
    $water 45%,
    $water 65%,
    $espresso 65%
  );
}
.espresso-laccino {
  background: linear-gradient(
    to bottom,
    $water 55%,
    $espresso 55%
  );
}