@import url("https://fonts.googleapis.com/css?family=Lato|Lora");
@import "./Main.scss";

body {
  background: $dark;
  font-family: $sans;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

.item {
  position: relative;
}

.cup {
  background: $dark;
  border: 2px solid $white;
  position: absolute;
}

.handle {
  background: transparent;
  border: 2px solid $white;
  border-radius: 60% 30%;
  height: 20px;
  left: 90%;
  position: absolute;
  top: 10%;
  width: 15px;
  z-index: -1;
}

.cup-tall {
  width: 55px;
  height: 40px;
  border-radius: 0 0 5rem 5rem;
  margin: 30px;
}

.cup-grande {
  width: 70px;
  height: 50px;
  border-radius: 0 0 5rem 5rem;
  margin: 23px;
}

.cup-venti {
  width: 60px;
  height: 90px;
  border-radius: 10% 10% 40% 40%;
  margin: 3px 25px;
}

.info {
  margin-left: 150px;
  margin-top: 30px;
}

h1 {
  color: $white;
  font-size: 1em;
  letter-spacing: 3px;
}

p {
  color: $white;
  font-family: $serif;
  text-transform: none;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  margin-top: -5px;
}
