$dark: #231F20;
$chocolate: #3A1D07;
$whiteChocolate: #CDB694;
$espresso: #643718;
$liquor: #FD862B;
$honey: #FFB700;
$vanillaSugar: #FFB982;
$steamedMilk: #FFD6B0;
$milkfoam: #FFEECA;
$whippedCream: #FFEECA;
$white: #FFFFFF;
$water: #B0DFE1;

$sans: 'Lato', sans-serif;
$serif: 'Lora', serif;